html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

header {
	background-color: red;
	padding: 2px;
}

main {
	background-color: green;
	padding: 2px;
}

.zijkolom-1 {
	background-color: blue;
	padding: 2px;
}

.zijkolom-2 {
	background-color: yellow;
	padding: 2px;
}

footer {
	background-color: pink;
	padding: 2px;
}

.container {
  display: flex;
  flex-flow: row wrap;
}

header, main, .zijkolom-1, .zijkolom-2, footer {
  flex: 100%;
}

@media screen and (min-width: 40em) { /* 640px */
  .zijkolom-1, .zijkolom-2 {
    flex: auto;
  }
}

@media screen and (min-width: 48em) { /*768px */
	main {
		flex: 2 1 0%;
	}
	
	.zijkolom-1 {
		flex: 1 1 0%;
	}
	
	.zijkolom-2 {
		flex: 1 1 100%;
	}
}

@media screen and (min-width: 64em) {
	main {
		flex: 3;
	}
	
	.zijkolom-1 {
		flex: 1.5;
	}
	
	.zijkolom-2 {
		flex: 1;
	}
}

@media screen and (min-width: 80em) {
	.zijkolom-1 {
		flex: 1.5;
		order: 1;
	}
	
	main {
		flex: 3;
		order: 2;
	}
	
	.zijkolom-2 {
		flex: 1;
		order: 3;
	}
	
	footer {
		order: 4;
	}
}