#x{
  position: absolute;
  top: 489px;
  left: 0;
  perspective: 1000px;
}

#x, #front, #back{
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: red;
}

#flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

#front, #back {
  backface-visibility: hidden;
  position: absolute;
}
