#wrapper{
  position: absolute;
  top: 0;
  left: 0;
  background-color: grey;
  perspective: 1000px;

}
/*#wrapper:hover #flipper {
  transform: rotateY(-180deg);
}*/

  #wrapper, .front, .back{
    width: 100px;
    height: 100px;
    text-align: center;
  }

#flipper{
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.front{
  background-color: green;
  transform: rotateY(-0deg);

}

.back{
    transform: rotateY(-180deg);
    background-color: red;
}

.btn{
  position: absolute;
  top: 170px;
  left: 170px;
}

.btn2{
  position: absolute;
  top: 200px;
  left: 170px;
}

a.test{
  position: absolute;
}

#wrapper #flipper .back .test {
  background-color: green;
  z-index: 20;
}
