body {
	padding: 0;
	margin: 0;
}

.container {
	height: 59px;
	display: flex;
	flex-flow: row wrap;
}

.logo {
	flex: 1 1 66%;
	padding: 0;
	margin: 0;
	background-image: url('header-262x59.png');
}



