* {
	margin: 0;
}

body {
	height: 100vh;
}

#container {
	height: 50vh;
	border: 1px solid black;
	background-color: red;
	width: 90vw;
	margin: 0 auto;
	
}

#first {
	height: 30%;
	width: 50%;
	background-color: green;
	float: left;
	
}

#second {
	height: 30%;
	width: 50%;
	background-color: blue;
	float: left;
}

